<section class="block-featured-projects" id="section2">
    <div class="corner"></div>
    <div class="g-container">
        <div class="g-row g-row-height-equal row1">
            <div class="g-col g-col-5 g-col-offset-1 col-align-bottom" data-aos="fade-up"
                data-aos-delay="300">
                <h2><span>Featured Projects</span></h2>
            </div>
            <div class="g-col g-col-5 g-col-offset-1 col-align-top" data-aos="fade-up">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quidem, eius tempore voluptas accusamus est.</p>

                <a href="./work.html" target="_self" class="btn-cta btn-cta-dark-orange">Lorem, ipsum dolor.</a>
            </div>
        </div>
        <div class="g-row row2">
            <div class="g-col-6 col1">
                <div class="project-thumb num-odd label-bottom label-left-desktop label-right-mobile orientation-horiz"
                    data-aos="fade-up" data-aos-delay="600">
                    <div class="offset">
                        <div class="label top"><a
                                href="./finding-sustainable-solutions.html">Lorem, ipsum dolor.</a></div>
                    </div>
                    <a href="./finding-sustainable-solutions.html"
                        class="img corners-right">
                        <div
                            style="background: url(./images/720x486.png);">
                        </div><img
                            src="./images/720x486.png"
                            alt="Finding Sustainable Solutions">
                    </a>
                    <div class="offset">
                        <div class="label bottom"><a
                                href="./images/720x486.png">Lorem, ipsum dolor.</a></div>
                    </div>
                </div>

                <div class="project-cta" data-aos="fade">
                    <a href="./work.html" target="_self" class="btn-cta btn-cta-dark-orange">Lorem, ipsum dolor.</a>
                </div>
            </div>
            <div class="g-col-6 col2">
                <div class="project-thumb num-even label-top label-left-desktop label-left-mobile orientation-vert last"
                    data-aos="fade-up" data-aos-delay="900">
                    <div class="offset">
                        <div class="label top"><a
                                href="./demonstrating-excellence.html">Lorem, ipsum.</a></div>
                    </div>
                    <a href="./demonstrating-excellence.html"
                        class="img corners-top">
                        <div
                            style="background: url(./images/720x486.png);">
                        </div><img
                            src="./images/720x486.png"
                            alt="Demonstrating Excellence">
                    </a>
                    <div class="offset">
                        <div class="label bottom"><a
                                href="./demonstrating-excellence.html">Lorem, ipsum.</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>